html, body, div { padding: 0px; margin: 0px; }
h1, h2, h3, h4, h5 { 
    font-family: 'Merriweather', serif;
    text-align: left; 
    margin: 12px; 
}
h1 { font-size: 20px; 
    margin-top: 32px;
}
h2 { font-size: 48px; }
h3 { font-size: 32px; }
h4 { font-size: 24px; }
h5 { font-size: 16px; }

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ffffff;
}


.app {
    margin: 0px auto;
    width: 100vw;
    min-height: 100vh;
}

.header  {  
    width: 100vw;
    height: 100px;
    top: 0;
    left: 0;
    padding-left: 16px;
    background-color: rgb(14, 33, 44);
    color: #ffffff;
    position: fixed;
}

.footer  { 
    background-color: rgb(14, 33, 44);
    width:110%;
    color: #ffffff;
    padding: 16px;
}

/* Generic classes */

.expanded { border-left: 8px solid black; }
.collapsed { display: none; }
.expanded, .collapsed { overflow-y: hidden; }

.plus:after { content: '+'; }
.minus:after { content: '-'; }
.plus:after, .minus:after { float: right; }

.even { background-color: #e2e9f5; }
.odd  { background-color: #ffffff; }

.hover:hover { 
    /*background-color: #ccccff80; */
    outline: 1px solid black;
}

/* Navigation bar styling */
.navbar-sticky{
    position: fixed;
    margin: 32px 0px;
    padding: 0;
    top: 280px;
    right: 0;
    min-width: 180px;
    overflow-x: visible;
    list-style-position: inside; 
}

.navbar-sticky li {
    margin: 0;
    padding: 8px;
    cursor: default;
    font-size: 18px;
}

.navbar-in-view {
    opacity: 1.0;
    font-weight: bold;
}

.navbar-not-in-view {
    opacity: 0.6;
}

/* Step styling */

.steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 100px 0 0 0;
    padding: 0px;
}

.step {
    width: 100vw;
    padding: 64px;
    display: grid;
    grid-template-areas: ". step-content .";
    grid-template-columns: .5fr 1fr 180px;
    grid-row-gap: 0px;
    grid-column-gap: 8px;
}

.step-content{
    grid-area: step-content;
    width: 1024px;
    margin-left: auto;
}

.step-header-text {
    width: 100%;
    padding: 16px;
    margin: 0px 0px 16px 0px;
    border: none;
    box-sizing: border-box;
    text-align: left;
    font-size: 36px;
}

.step-body-text {
    text-align: left;
    font-size: 18px;
    margin: 0px;
    padding: 16px;
    font-family: Roboto;
}

/*
@media (max-width: 400px) {
    .navbar-sticky { display: none; }
    .navbar-sticky li {display: none;}
    .navbar {display: none;}
}*/
